### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.idea
.vscode
.env
venv
db.sqlite3
static
logs
crypto_assets/static
*.sql
*.sql.gz
todo
crypto_assets/celerybeat-schedule
crypto_assets/celerybeat.pid
crypto_assets_db
